.logo-pache { 
    background: linear-gradient(to bottom, #cfa65a 0%, #fff5af 50%, #cfa65a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem; 
    font-weight: bold;
    text-align: center;
}
